
*{
  margin:0;
  padding:0;
  border:0;
  }

body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f4f4f4;
  font-size: 14px;
}

.container {
  background-color: rgba(170, 194, 234, 0.373);
  padding: 20px;
  max-width: 800px;
  margin: auto;
  border-radius: 8px;
  position: relative;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.foto img {
  position: relative;
  z-index: 1;
}

.foto img {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  object-fit: cover;
}

.faixa {
  position: absolute;
  width: 190px;
  height: 40px;
  background-color: #023060;
  top: 30px;
  left: -40px;
  transform: rotate(-45deg);
  z-index: 0;
}

.info-pessoal {
  text-align: right;
}

h1 {
  margin: 0;
  font-size: 20px;
}

.secao {
  margin-top: 20px;
}

h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

p {
  margin: 3px 0;
}
